.ice-cream-image {
    width: 415px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .menu-item {
    text-align: center;
    width: 250px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  